<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Restaurant Management System | Sign Up</title>
</head>
<body>
<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <din id="btn">
            </din>
            <button type="button" class = "toggle-btn" onclick="login()">Log In</button>
            <button class="toggle-btn" type = "button" onclick="regirster()">Regirster</button>
        </div>
        <div class="social-icons">
            <img src="../static/fb.png" alt="facebook">
            <img src="../static/git (1).png" alt="github">
            <img src="../static/google.png" alt="google">
        </div>
        <form action="login" class="input-group" id="login">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="text" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class = "check-box"><span>Remember Password</span>
            <button type="submit" class = "submit-btn">Log in</button>
        </form>
        <form action="login" class="input-group" id="regirster">
            <input type="text" class="input-field" placeholder="Full Name" required>
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="email" class="input-field" placeholder="email" required>
            <input type="text" class="input-field" placeholder="Enter Password" required>
            <input type="number" class="input-field" placeholder="Phone NUmber" required>
            <input type="checkbox" class = "check-box"><span>I agree to the terms & conditions</span>
            <button type="submit" class = "submit-btn">Regirster</button> 
            
        </form>
        
    </div>
    </div>
    <script>
        var x  = document.getElementById("login")
        var y  = document.getElementById("regirster")
        var z  = document.getElementById("btn")

        function regirster()
        {
            x.style.left = "-400px"
            y.style.left = "50px" 
            z.style.left = "110px"
        }

        function login()
        {
            x.style.left = "50px"
            y.style.left = "450px" 
            z.style.left = "0px"
        }
    </script>
    </body>
</html>